.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }
}


/* Target Devise new user form styles */
.new_user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 300px;
    padding-bottom: 20px;

    div {
      width: 100%;
      padding: 0.25rem;

      input {
        width: 100%;
        padding: 0.25rem;
        border: 1px solid #ccc;
      }
    }
  }
}

// Styling the <h2>Log in</h2> tag
.flash + h2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

// remove the <a>Sign in</a> tag from the sign up page
.new_user + a {
  display: none;
}